<article>

	<h2>Editing Entry</h2>

	<%= render 'form' %>

	<p class="action">
		<%= link_to '', @entry, class: 'fa fa-picture-o fa-3x' %>
		<%= link_to '', entries_path, class: 'fa fa-wrench fa-3x' %>
	</p>

</article>